section#hero
  .keurig-hero
    .container-flush
      h1 Coffee's on us.
      .hero-image-flush
        img(src='../images/keurig/hero@2x.png')
      
section.core-statement    
  h2 The personal coffee shop that told us the key to more direct sales is simply free coffee. 

section.full-column-image
  .gallery
    img(src='../images/keurig/main-interface@2x.png')
    //- .caption
    //-   p
    //-     span.bold Another quick headline
    //-     |  — Dolor set amet consectetur adipscing elit.

section.two-column-text
  .column-text-a
    .wrapper
      div
        h4 Challenge
        h3 Need coffee? Here are 400 choices
        p Customers overwhelmed by choices were shopping elsewhere in favor of an easier experience. Our challenge was to figure out a better way to bring customers back to purchasing from Keurig.
        
  .column-text-b
    .wrapper
      div
        h4 Solution
        h3 Your personal coffee shop
        p We built a prototype that was personalized for each user based on existing purchasing habits. The experience made it easy to reorder your favorite products while making it easy to discover new flavors when you needed a shake up. 

section.full-column-image
  .gallery
    img(src='../images/keurig/pod-row@2x.png')      

section.end-statement    
  h2.middle To keep people coming back, we rewarded every interaction and experience with the Keurig brand with what customers wanted most — free pods. 

section.full-column-image
  .gallery
    img(src='../images/keurig/keurig_pod@2x.png')
    
section.full-column-image
  .pusher
  .gallery
    img(src='../images/keurig/rewards-laptop@2x.png')  
             
section.full-bleed
  .pusher
  img(src='../images/keurig/phone-comp@2x.png')

section.end-statement
  h2 After seeing a high purchasing conversion and an increased interest in trying new flavors, our prototype gave Keurig the learning of what motivated their customers most.
      
