section#hero
  .mociun-hero
    .container
      h1 The new vibe of luxury.
      .hero-image
        img(src='../images/mociun/mociun-hero-ipad@2x.png')
      
section.core-statement    
  h2 A modern site for unique jewelry maker to challenge the definitions of luxury and birth a true sense of identity.

section.full-column-image
  .gallery
    img(src='../images/mociun/B@2x.png')
    //- .caption
    //-   p
    //-     span.bold Another quick headline
    //-     |  — Dolor set amet consectetur adipscing elit.

section.two-column-text
  .column-text-a
    .wrapper
      div
        h4 Challenge
        h3 The personality of gems
        p Known for one-of-kind stone cluster rings, antique diamonds and rare stones, Mociun needed to start matching what it’s product was showing – a unique style and statement for those who wore it. Our challenge was to establish the brand of Mociun and provide an online shopping experience that delivered.
        
  .column-text-b
    .wrapper
      div
        h4 Solution
        h3 Getting down to essence
        p Working closely with Caitlin Mociun and her staff, we established core brand pillars that reflected the personality of the founder and the future vision of the business. Those pillars informed the final online shopping experience that is a strong differentiator within high-end jewelry and an evocation of a new definition of luxury. 

section.full-column-image
  .gallery
    img(src='../images/mociun/C@2x.png')      
      
section.multi-image
  .gallery
    .large
      img(src='../images/mociun/E@2x.png')    
    .small.mociun-small
      img.push(src='../images/mociun/F@2x.png')    

section.full-bleed
  img(src='../images/mociun/D@2x.png')

section.end-statement
  h2 The young, spirited and eclectic new brand revealed a new path for Mociun’s future. An empowered business and the site redesign elevated customer perception and increased web and in-store sales.
      
