section#hero
  .neo-hero
    .container
      h1 Reduce risk, elevate success.
      .hero-image
        img(src='../images/neo/hero@2x.png')
      
section.core-statement    
  h2 To communicate Neo’s unique and ruthless process, we built their new online home that laid bare the keys for their client’s success.

section.full-column-image
  .gallery
    img(src='../images/neo/B@2x.png')
    //- .caption
    //-   p
    //-     span.bold Another quick headline
    //-     |  — Dolor set amet consectetur adipscing elit.

section.two-column-split
  .column-a
    .wrapper
      div
        h4 Challenge
        h3 Piqueing Intelligence
        p With lean methodologies that were still foreign to many of Neo’s enterprise clients, the challenge was selling the value of taking risks, and the earlier the better. We needed to create a new experience that stirred intrigue and the intelligence of Neo’s prospects and future hires and show how their process is the better way.
        
      div
        h4 Solution
        h3 Embrace the deep end
        p The redesign featured intentionally long-form case studies, aiming to shed light on the breadth and uncertainty of product development. The guided narrative coupled relevant insights from the team and industry that gave visitors a wealth of knowledge and an intuitive means of exploration. 
  
  .column-b
    img(src='../images/neo/F.png')

section.full-column-image
  .gallery
    img(src='../images/neo/D.png')      
      
section.multi-image
  .gallery
    .large
      img(src='../images/neo/E.png')    
    .small
      img.push(src='../images/neo/I.png')    
      img(src='../images/neo/G.png')    

section.full-bleed.neo-full-bleed
  img(src='../images/neo/C.png')

section.end-statement
  h2 Neo’s new home provided a clear-cut way to understand its methodologies and supported Neo’s acquisition by Pivotal Labs in 2015.
      
