section#next_project

  .project
    a(href='#{keurig_url}')
      div
        img(src='#{keurig_next_img}')
        .border
        .border-micro
      
  .project.fall-off
    a(href='#{mociun_url}')
      div
        img(src='#{mociun_next_img}')
        .border
        .border-micro