section#home-about
  .content-block
    div
      h2 What we're about
      h1 We create better experiences with two eyes on your brand and a third on your business. 
      p Our cross-discipline experience and ability to simplify create quality product, interfaces and brand for our clients.


  //- .frame
  //-   .border
  //-   
  //-   .main-gallery.js-flickity(data-flickity-options='{ "cellAlign": "left", "contain": true }')
  //-     .gallery-cell
  //-       .no-1
  //-         h2 Welcome to Anybeast 101
  //-         h1 We're digital craftsman who solve problems by design.
  //- 
  //-     .gallery-cell
  //-       .no-2
  //-         h2 We do a little of this and a little of that
  //-         // Gem shapes
  //-     
  //-     .gallery-cell
  //-       .no-3
  //-         h2 Applying our trade to all kinds of technology
  //-         h1 Hey-oh!
  //- 
  //-     .gallery-cell
  //-       .no-4
  //-         h1 Thanks and goodnight!
  //-         h2 We'll be here all week
  //-           