section#home-about
  .content-block
    div
      h2 WE CRAFT BETTER BRANDS and EXPERIENCES

      h1 Anybeast is a brand-focused design studio that creates real-good, feel-good customer experiences for individuals and companies who are ready to raise the bar.
      