section#home-about
  .content-block
    div
      h2 We create better experiences and brands
      //- h1 While two eyes are working on your current problem, our third is focused on the bigger picture. 
      
      //- h1 While two eyes are working on your brand, our third is focused on your business. 
      
      h1 Anybeast is a design studio that creates better user experiences. We're masters of brand and business, while our experience across disciplines help clients serve their users.
      
      //- 
      //- p Our cross-discipline experience and ability to simplify create quality product, interfaces and brand for our clients.