section#home-contact
  .content-block
    div
      h2 Let's get to work

      h1 If you're ready to work with a design team that's easy-peezy to work with and creates experiences people love, 
        a.say-hey(href='mailto:hey@anybeast.com') say hey.
      