section#home-objects
  .content-block
  
    .object-wide
      a.neo-static(href='#')
        div
          img(src='../images/object_neo_home@2x.png')
          .border

      .captioned
        p A process grounded sales pitch
          span  for 
          | Neo Innovation
        //- p
        //-   a(href='#') Get the gist
        //-   |  or 
        //-   a(href='#') Dive in deep
        //- 
    section#columns
    
      .object-tall
        a.mociun-static(href='#')
          div
            img(src='../images/mociun_model@2x.png')
            .border

        .captioned
          p Elevated ecommerce
            span  for 
            | Mociun
          //- p
          //-   a(href='#') In a rush
          //-   |  or 
          //-   a(href='#') Chillin'
            
      .object-tall
        .testimonial
          div
            ul
              li Can I get a witness?
              li Anybeast’s fresh perspective and user centered thinking helped us prioritize our redesign and reframed how we thought about presenting our product to our customers.
              li Paul Miser, CEO
              li The Chinatown Bureau

      //- .object-tall
      //-   .coming-soon
      //-     div
      //-       ul
      //-         li Something shiny
      //-         li IMAGE HERE
      //-         li Coming soon

                
      .object-tall
        .broadside
          div
            ul
              li We help businesses
              li.arrow-butt-down
              li See the future
              li Build brands
              li Tell their story
              li Understand users
              li Ask why
              li Launch products
              li Grow audiences
              li Test & iterate
              li.arrow-head-down
                        
      .object-tall
        a.keurig-static(href='#')
          div
            img(src='../images/object_keurig_home@2x.png')
            .border

        .captioned
          p The personal coffee shop
            span  for 
            | Keurig
          //- p
          //-   a(href='#') In a rush
          //-   |  or 
          //-   a(href='#') Chillin'