section#objects
  .content-block
  
    .object-wide
      a.neo-static(href='#')
        .border
        img(src='../images/object_neo_home@2x.png')
  
      .captioned
        p A process grounded sales pitch
          span  for 
          | Neo Innovation
        p
          a(href='#') Get the gist
          |  or 
          a(href='#') Dive in deep
      
    .columns
      .object-tall
        a.mociun-static(href='#')
          .border
        .captioned
          p Elevated ecommerce
            span  for 
            | Mociun
          p
            a(href='#') In a rush
            |  or 
            a(href='#') Chillin'
            
      .object-tall
        .testimonial
          div
            ul
              li Can I get a witness?
              li Anybeast’s fresh perspective and user centered thinking helped us prioritize our redesign and reframed how we thought about presenting our product to our customers.
              li Paul Miser, CEO
              liThe Chinatown Bureau
                
      .object-tall
        .broadside
          div
            ul
              li We help businesses
              li.arrow-butt-down
              li See the future
              li Build brands
              li Tell their story
              li Understand users
              li Ask why
              li Launch products
              li Grow audiences
              li Test & iterate
              li.arrow-head-down
                        
      .object-tall
        a.mociun-static(href='#')
          .border
        .captioned
          p Wut
            span  for 
            | Mociun
          p
            a(href='#') In a rush
            |  or 
            a(href='#') Chillin'