section#home-services
  div
    h2 We're hit up for
    ul
      li Product Design
      li User Experience
      li Validation Testing
      li Prototyping
      li Branding
      li Interface Design
      li Content Strategy
      li 
        a(href='#') Opinions & Advice
