section#home-services
  .content-block
    .frame
      .border
        div
          h2 What's on the menu
          ul
            li Digital Strategy 
            li Brand Identity & Voice
            li Experience Design
          ul
            li Content Strategy
            li Interface Design
            li Prototyping
