section#home-services
  .content-block
    .frame
      .border
        div
          h2 What's on the menu
          ul
            li Digital Product Design
            li UX Design
            li Validation Testing
            li Prototyping
            li Front-end Development
            li Branding & Voice
            li Interface Design
            li Creative & Art Direction
            li Content Strategy
            li 
              a(href='#') Audits & Advice
