
              
              
// Markup for testimonial object
// - Currently not being used (Feb 2017)              
              
.object-tall.testimonial
  div
    ul
      li Can I get a witness?
      li Anybeast’s fresh perspective and user centered thinking helped us prioritize our redesign and reframed how we thought about presenting our product to our customers.
      li Paul Miser, CEO
      li The Chinatown Bureau