section#home-welcome
  .clouds
  div  
    .statement-contain
      h1 Channeling the future with design smarts and epic tomes.
      p.caps We create digital experiences for today & beyond
      
  //-     
  //- .arrow-down
  //-     a(href="#")
  //-       //- SVG code here