section#home-welcome
  .clouds
    .statement-contain
      h1 We channel the future with design smarts and epic tomes.
      p.caps Creating digital experiences for today & beyond
      
      
  .arrow-down
      a(href="#")
        //- SVG code here