#clouds
section#home-welcome      
  div  
    .statement-contain    
      .anybeast-logo
        a.toggle-overlay(href="#")
      h1 We channel the future into experiences people love.
      //- p.caps Digital product and experiences via empathy and foresight
      .arrow-down
          a(href="#")
