#clouds
section#home-welcome      
  div  
    .statement-contain    
      .anybeast-logo
        a.toggle-overlay(href="#")
      //- h1 Summon the future by creating the perfect experience for your users.
      h1 We summon the future&nbsp; to craft experiences for today and beyond.
      
      //- p.caps Digital product and experiences via empathy and foresight
      .arrow-down
          a(href="#")
