section#home-welcome
  .clouds
    .statement-contain
      //- p.caps Hark! The future is nigh!
      //- h1 Today's problems solved with tomorrow's interfaces.
      //- h1 We design products and experiences for the future.
      //- h1 Experiences of tomorrow designed to solve the problems of today.
      //- h1 We’re mediums of ideas, design and craft that bring the future of your business to life.
      h1 We're mediums of vision and craft
      p.caps Creating digital experiences for today & tomorrow
      
      
  .arrow-down
      a(href="#")
        //- SVG code here