#clouds.fixed
section#home-welcome      
  div  
    .statement-contain    
      .anybeast-logo
        a(href="#")

      h1 We summon brands and products into this crazy place called the Internet.

      .arrow-down
          a(href="#")
