section#about
  main
    .frame-wrap
      .frame
    .frame-content
      .flex  
        .shell
          div
            h2.headline.large Anybeast is a digital design and strategy SWAT team based in NYC
            p.caps @Amanda !! Infusing our clients with fresh thinking and expert design
        div
          p.caps.gold We leverage
            h2.end.headline.large Street smarts, industry knowledge and wondrous disciplines of design
            p.caps.gold To create the future
        







//- section#about
//-   main.rigging
//-     .wrapper
//-       .frame
//-       .frame-content
//-         div  
//-           h2.headline.large Anybeast is a digital design and strategy SWAT team based in NYC
//-           p.caps @Amanda !! Infusing our clients with fresh thinking and expert design
//-         div
//-           p.caps.gold We leverage
//-           h2.headline.large Street smarts, industry knowledge and wondrous disciplines of design
//-           p.end.caps.gold To create the future
//-         //- .slide.two
//-         //-   h2.headline.large Hey oh
//-         //-   p.caps Say Hey Oh
