section#about
  main
    .frame-wrap
      div
        img.desktop(src='/images/frame_1336@2x.png')
        //- img.tall(src='/images/frame_1336-tall@2x.png')
    .frame-content
      .flex
        .introduction
          div
            img(src='/images/illo_mystic-key@2x.png')
            h2.headline.large Anybeast is a digital design and strategy SWAT team based in NYC
        .disciplines
          div
            p.caps.gold We leverage
            h2.end.headline.large Street smarts, industry knowledge and wondrous disciplines of design
            p.caps.gold To create the future
            .shapes
              .ux
                img(src='/images/illo_ux@2x.png')
              .content
                img(src='/images/illo_content@2x.png')
              .visual
                img(src='/images/illo_visual@2x.png')
        
