section#about
  main
    .frame
      .slide.one
        p.caps Hey, we're ANYBEAST
        h2.headline.large A trio of experts, untited together through a passion for storytelling and the future.
        p.caps A design SWAT team headquartered in NYC
      //- .slide.two
      //-   h2.headline.large Hey oh
      //-   p.caps Say Hey Oh
