section
  .content-block
    .about-introduction
    
      h2 About
      h1 A skunkworks product and experience design studio focused on the personal.
      .arrow-right
        a(href="#")
          //- SVG code here