section#contact

  main
    .container
      h2.middleweight.headline Have a project? Let's coffee.
      p
        a(href="mailto:hey@anybeast.com").caps.dark hey@anybeast.com
      span.divider
      p
        a(href="sms://1-206-399-1793").caps.dark TXT +1 206 399 1793
