section#contact

  main
    .container
      h2.middleweight.headline Have a project? Let's coffee.
      p
        a(href="mailto:hey@anybeast.com").caps.dark hey@anybeast.com
      span.divider
      p
        a(href="tel://1-979-777-1753").caps.dark +1 979 777 1753
