footer
  .content-block
      ul.caps.small.ghost
        //- li
        //-   p Fortunes made – Fortunes paid
        li
          p &copy; 2016 Anybeast All rights reserved
        //- li
        //-   p Made with love and angst in NYC
