footer
  .content-block
    .logo
      a(href="/")
    //- ul.link-list
    //-   li 
    //-     a(href="#") About
    //-   li 
    //-     a(href="#") Work
    //-   li
    //-     a(href="#") Careers
    //-   li
    //-     a(href="#") Contact
      
    ul.supplement
      li
        a(href="mailto:hey@anybeast.com") hey@anybeast.com
      li.copyright © 2017 Anybeast