section#grand_finale
  .content-block

    main
      .scrollin
        span.caps Scrollin'
        span.caps Scrollin'
      
      .message
        h3.large.headline Thank you and goodnight!
        p.caps.gold We'll be here all week
      
      .yorick
        img(src="../images/illo_skull@2x.png", alt="Skull and dagger – Alas, poor Yorick!")
      
      .social
        ul.caps
          li
            a(href="mailto:hey@anybeast.com") hey@anybeast.com
          li.horiz
            svg(height='5px' width='25px')
              line(x1="0" y1="0" x2="25" y2="0" style="stroke:rgb(188,149,106);stroke-width:4") 
          li.mob
            svg(height='5px' width='7px')
              line(x1="0" y1="0" x2="7" y2="0" style="stroke:rgb(188,149,106);stroke-width:4") 
          li
            a(href="tel://1-917-737-2191") +1 917 737 2191
