header
  .hero
    div  
    
    .intro
      .lockup
        .illo
          img(src='../images/illo_all-seeing@2x.png')
        .anybeast
          img(src='../images/anybeast-logo@2x.png')
        .tagline
          img(src='../images/tagline_curve@2x.png')
        .down-arrow
          
            
