header
  .hero
    .ace
      a(href="#")
        img(src='../images/anybeast-ace@2x.png')
    .flip
      img(src='../images/anybeast-ace@2x.png')
    //- nav
    //-   ul
    //-     li
    //-       a.caps(href="mailto:hey@anybeast.com") Say Hey@anybeast.com
        //- li 
        //-   a.caps(href="#") Follow Us 
    div.mob
      p.caps.small We don't tell the future
      p
        svg(height='2px' width='75px')
          line(x1="0" y1="0" x2="75" y2="0" style="stroke:rgb(188,149,106);stroke-width:2") 
      p.caps.small We make it for you 
    
    .intro
      .lockup
        .tagline
          img(src='../images/tagline_curve@2x.png')
        .illo
          img(src='../images/illo_all-seeing@2x.png')
        .anybeast
          img(src='../images/anybeast-logo@2x.png')

        .down-arrow
          img(src='../images/icn_arrow-long@2x.png')
          
          
        //- p.caps We don't tell the future
        //- span.divider
        //- p.caps We make it for you
        
  //- .continue-arrow
  //-     div
  //-       p.caps We won't tell your future – we'll make it for you.
  //-       img(src="../images/icn_arrow-long@2x.png", alt="An inconsequential arrow pointing down – Onwards!")
  //-     
