header
  .content-block
    .intro
      
      .anybeast-logo
        a(href="#")
          img(src='##')
      
      .content
        h1
        
      .arrow-down
        a(href="#")
          //- SVG code here