header
  .hero
    .ace
      a(href="#")
        img(src='../images/anybeast-ace@2x.png')
    .flip
      img(src='../images/anybeast-ace@2x.png')

    div.mob
      p.caps.small We won't tell you the future
      p
        svg(height='2px' width='75px')
          line(x1="0" y1="0" x2="75" y2="0" style="stroke:rgb(188,149,106);stroke-width:2") 
      p.caps.small We'll make it for you 
    
    .intro
      .lockup
        .tagline
          img(src='../images/tagline_curve@2x.png')
        .illo
          img(src='../images/illo_all-seeing@2x.png')
        .anybeast
          img(src='../images/anybeast-logo@2x.png')
        .down-arrow
          img(src='../images/icn_arrow-long@2x.png')
            
