header
  //- nav.global-nav
  //-   ul
  //-     li
  //-       a(href='#') About
  //-     li
  //-       a(href='#') Work
  //-     li
  //-       a(href='#') Services
  //-     li
  //-       a(href='#') Contact
  //-         
