header
  .hero
    .ace
      a(href="#")
        img(src='../images/anybeast-ace@2x.png')
    .flip
      img(src='../images/anybeast-ace@2x.png')
    
    .intro
      .lockup
        .illo
          img(src='../images/illo_all-seeing@2x.png')
        .anybeast
          img(src='../images/anybeast-logo@2x.png')
        .tagline
          img(src='../images/tagline_curve@2x.png')
        .down-arrow
          
            
