header
  .hero
    .ace
      a(href="#")
        img(src='../images/anybeast-ace@2x.png')
    .flip
      img(src='../images/anybeast-ace@2x.png')
    nav
      ul
        li
          a.caps(href="mailto:hey@anybeast.com") Say Hey@anybeast.com
        //- li 
        //-   a.caps(href="#") Follow Us 
    p.mob.caps For a good time txt 
      a.caps(href="sms:1-206-399-1793") +1 206 399 1793
          
          
        
  
    .intro
      .lockup
        .illo
          img(src='../images/illo_all-seeing@2x.png')
        .anybeast
          img(src='../images/anybeast-logo@2x.png')
        //- p.caps We don't tell the future
        //- span.divider
        //- p.caps We make it for you
        
  .continue-arrow
      div
        p.caps Hey there!
        img(src="../images/icn_arrow-long@2x.png", alt="An inconsequential arrow pointing down – Onwards!")
      
