section#home-work
  .content-block
    h3 Our Work
    h2 Our favorite work we can  show off.
      span.redacted  And some we can’t.
     
    .arrow-right
      a(href="#")
        //- SVG code here
    