section
  .content-block
    .home-introduction
      
      .content
        h1 We’re fortune tellers and medium makers channeling the future with product and design.
        
      .arrow-down
        a(href="#")
          //- SVG code here