aside
  .anybeast-logo
    a.blue.toggle-overlay
      span
        
  nav
    ul
      li
        a(href='/') Home
      li
        a(href='#') Keurig
      li
        a(href='#') Neo        
      li
        a(href='#') Mociun        
        