section
  .content-block
    .work-introduction
    
      h2 Our Work
      h1 Our favorite work we can  show off.
        span.redacted And some we can’t.
        
      .arrow-right
        a(href="#")
          //- SVG code here