@import 'reset'
@import 'helpers/lettuce_wrap'
@import 'helpers/colors'
@import 'helpers/type'
@import 'helpers/fonts'

@import 'components/header'
@import 'components/home-welcome'
@import 'components/home-about'
@import 'components/home-work'
@import 'components/footer'


html
  background $light-black
  width 100%

body
  font-family $font-family1
  font-weight $type-light
  color $white
  
  ::selection
    color $white
    background $black