@import 'reset'
@import 'helpers/lettuce_wrap'
@import 'helpers/colors'
@import 'helpers/type'
@import 'helpers/fonts'

@import 'components/header'
@import 'components/menu'

@import 'components/home/welcome'
@import 'components/home/about'
@import 'components/home/work'

@import 'components/work/case-studies'
@import 'components/work/next-project'

@import 'components/footer'


html
  width 100%

body
  font-family $font-family1
  font-weight $type-light
  color $white
  
  ::selection
    color $white
    background $black
    
p
  line-height 1.2rem
    
.block-link
  display block
  cursor pointer
    
    
// Body selectors per page

.index
  background $light-black

.neo
  background $black