doctype
head
  title #{title}
  link(rel='stylesheet' href='stylesheets/main.css')
  //- link(rel='stylesheet' href='stylesheets/animate.css')
  meta(name='viewport' content='width=device-width, height=device-height initial-scale=1')

body
  != yield
