!= partial('components/_header')

!= partial('components/_menu')

!= partial('components/home/_welcome')
!= partial('components/home/_about')
!= partial('components/home/_work')

!= partial('components/_footer')