!= partial('components/_header')

!= partial('components/_home_welcome')
!= partial('components/_menu')
!= partial('components/_home_about')
!= partial('components/_home_work')


!= partial('components/_footer')