!= partial('components/_header')

!= partial('components/_menu')

!= partial('components/home/_welcome')
!= partial('components/home/_about')
!= partial('components/home/_objects')
//- != partial('components/home/_services')
//- != partial('components/home/_clients')
!= partial('components/home/_contact')

!= partial('components/_footer')