#about
	background-block()

	& > main
		position relative
		width 100%

		.frame-wrap
			flexbox()
			margin 0 60px
			height 100vh
			position absolute
			right 0
			left 0
			z-index 999

			@media $desktop_large
				margin 0 auto
				max-width 90em

			& > div
				center-block()
				width 100%

			.border
				display none

				@media $desktop
					display block
					border-image url(../images/frame.border-image.png) 54 52 52 53 round round
					border-style inset
					border-color $gold
					border-width 30px
					height 80vh
					width 100%

		.sticky
			position fixed
			top 0

			@media $desktop
				right 10px
				left 10px

			& > div
				position relative

		.end-sticky
			position absolute
			bottom 0

		.blur
			-webkit-filter blur(8px)
			opacity 0.25
			-webkit-transition all 0.35s ease-in
			transition all 0.35s ease-in

		.blur-out
			-webkit-filter blur(0px)
			opacity 1
			-webkit-transition all 0.35s ease-in
			transition all 0.35s ease-in

		.frame-content
			margin 0 auto
			text-align center
			width 100%
			height 100%

			@media $tablet
				width 85%

		 	.flex
				center-block()

				.introduction
					min-height 550px
					width 100%
					center-block()
					border-bottom 1px solid $light-grey
					border-top 1px solid $light-grey

					@media $tablet
						width 100%
						min-width 450px
						height 100vh
						border-image url(../images/frame.border-image.png) 54 52 52 53 round round
						border-style inset
						border-color $gold
						border-width 36px
						height 80vh
						width 100%

					@media $desktop
						border none
						height 100vh

					& > div
						padding 0 30px

						@media $tablet
							padding 0 70px

						& > img
							max-width 140px
							margin-bottom $baseline*2

							@media $tablet
								max-width 140px
								margin-bottom $baseline*4

							@media $desktop
								max-width 180px

						h2
							padding 0
							max-width 900px

							@media $desktop
								padding 0 30px

				.how-we-work
					min-height 550px
					width 100%
					center-block()
					border-bottom 1px solid $light-grey

					@media $tablet
						width 100%
						min-width 450px
						height 100vh
						border none

					& > div
						padding 0 30px

						@media $tablet
							padding 0

						p
							margin-bottom $baseline*2

						h2
							padding 0
							max-width 900px

							@media $tablet
								padding 0 60px

				.our-disciplines
					min-height 550px
					center-block()
					padding 0 30px
					border-bottom 1px solid $light-grey

					@media $tablet
						height 100vh
						padding 0 30px
						border none

					& > div
						p
							margin-bottom $baseline*3

						h2
							width 100%
							margin 0 auto
							margin-bottom $baseline*3

							@media $tablet
								width 75%

						.shapes
							@media $phone
								display none
								// text-align center
								// margin-top $baseline*5
								// margin-bottom $baseline*12

							@media $tablet
								display block
								flexbox()
								justify-content center
								align-items center
								flex-wrap wrap
								width 100%
								margin-top $baseline*6

							@media $desktop
								flex-wrap nowrap

							.ux
								width 60%
								margin 0 auto $baseline*4

								@media $tablet
									width 200px
									margin 0 30px 30px 0

								@media $desktop
									max-width 250px
									width 19%
									margin 0 27px 0 0

							.content
								width 62%
								margin 0 auto $baseline*4

								@media $tablet
									width 220px
									margin 0 0 0 30px

								@media $desktop
									max-width 285px
									padding-bottom 50px
									margin 0 25px 0 0
									width 21%

							.visual
								width 60%
								margin 0 auto $baseline*4

								@media $tablet
									width 200px
									margin 0 10px

								@media $desktop
									max-width 240px
									width 19%
									margin 0 15px

				.clients
					min-height 550px
					width 100%
					center-block()
					border-bottom 1px solid $light-grey

					@media $tablet
						width 100%
						min-width 450px
						height 100vh
						border none

					& > div
						p
							margin-bottom $baseline*3

					.logo-grid
						flexbox()
						flex-flow()
						center-block()
						max-width 1200px

						& > li
							max-width 100px
							opacity .3
							margin -10px 0

							@media $tablet
								float left
								max-width 180px
								// min-width 100px
								margin -10px 2%

							@media $desktop
								float left
								max-width 200px
								min-width 150px
								margin -10px 2%
