#neo-hero
  background-block()
  background $purple
  margin-bottom 175px
        
.statement
  col(6,3)
  flexbox()
  align-items(center)
  
  & > h1
    font-size 40px
    color $white
    text-align center
    padding 50px 0
    line-height 1.2
    
    @media $tablet
      font-size 60px
      padding 75px 0

.cross-image
  col(12)
  margin-bottom -75px
  
  @media $tablet
    col(10,1)
    margin-bottom -75px   
  
