#contact
  background-block()

  & > main
    col(10,1)
    padding $baseline*10 0
    text-align center

    @media $desktop
      col(7,2.5)
      padding-top $baseline*8

    .container
      background $gold
      padding 95px 40px

      @media $tablet
        padding 85px 75px 75px 75px

      @media $desktop
        padding 120px 75px 112px 75px
        max-width 900px
        margin 0 auto

      h2
        margin-bottom $baseline*3

        @media $tablet
          margin-bottom $baseline*2

      p
        display block

        @media $tablet
          display inline-block

      a
        text-decoration none

        &:hover
          color $white

      span.divider
        width 15px
        border-top 2px solid $white
        margin 15px auto 15px auto
        display block

        @media $tablet
          margin 0 10px 3px 10px
          display inline-block
