footer

  & > .content-block

    ul
      text-align center
      margin 0 auto
      letter-spacing 1px
      margin-bottom $baseline*4
      display inline-block

    li
      margin 15px auto
      text-align center

      @media $tablet
        float left
        margin 0 12px

      @media $desktop
        float left




  // .back-to-top
