#grand_finale
  background-block()

  main
    col(12)
    text-align center

    .scrollin
      height 217px
      background url("../images/scroll-arrow@2x.png") no-repeat center
      background-size contain
      margin 0 auto
      margin-bottom $baseline*14
      center-block()

      & > span:nth-child(1)
        margin-right 50px

      & > span:nth-child(2)
        margin-left 50px


    .message
      margin-bottom $baseline*4

      @media $tablet
        margin-bottom $baseline*6

      h3
        margin-bottom $baseline*3

        @media $tablet
          margin-bottom $baseline*1

    .yorick
      width 30%
      margin 0 auto;
      margin-bottom $baseline*6s

      @media $tablet
        margin-bottom $baseline*6

      @media $tablet
        width 20%

    .social
      margin-bottom $baseline*12

      @media $tablet
        margin-bottom $baseline*16

      & > ul
        margin 0 auto
        display inline-block

      li
        float left
        margin 0 7px
        //
        // @media $tablet
        //   float left

        &:first-child
          margin 0 10px 0 0

        &:last-child
          margin 0 0 0 10px

      .horiz
        display none

        @media $tablet
          display inline-block

      .mob
        @media $tablet
          display none

      a
        text-decoration none
        color $white
