header
  background-block()
  background $black

  .hero
    position relative
    width 100%
    height 100vh
    flexbox()

    .ace
      display none
      position absolute

      @media $tablet
        display inherit
        width 49px
        height 97px
        top 35px
        left 42px

    & > img
      width 100%
      height 100%

    .flip
      flipit()
      display none
      position absolute

      @media $tablet
        display inherit
        width 49px
        height 97px
        bottom 45px
        right 42px

      & > img
        width 100%
        height 100%

    .mob
      display block
      // position absolute
      // top 75px
      width 100%
      text-align center
      margin-bottom $baseline*5

      @media $tablet
        display none

      & > p
        padding-bottom 2px

        &:nth-child(2)
          padding-bottom 3px
          margin-top -6px

    .intro
      center-block()
      text-align center
      margin-top 100px
      width 100%

      @media $tablet
        margin-top 220px

      .lockup
        width 80%
        margin 0 auto

        @media $tablet
          width 60%

        @media $desktop
          max-width 470px
          width 40%

      .anybeast
        display block
        margin 0 auto 40px
        max-width 200px

        @media $tablet
          max-width 256px
          margin 0 auto 53px

      .tagline
        width 100%
        max-width 220px
        margin 0 auto $baseline*2 auto

      .illo
        max-width 250px
        margin 0px auto $baseline*2.5 auto
        display block

        @media $tablet
          max-width 304px
          margin -28px auto 26px auto

      .down-arrow
        height 104px
        background url("../images/icn_arrow-short@2x.png") no-repeat center
        background-size contain
        margin 0 auto
        margin-bottom $baseline*14
        margin-top -20px

        @media $tablet
          margin-top 0

        @media $tablet
          height 217px
          background url("../images/icn_arrow-long@2x.png") no-repeat center
          background-size contain


  .continue-arrow
    background-block()
    margin-bottom $baseline*6

    & > div
      margin -112px auto 0
      width 100px

      @media $tablet
        margin -150px auto 0

      img
        width 15px
        display block
        margin 20px auto 0
    p
      text-align center
      margin 0 auto
