nav.global-nav
  
  ul
    flexbox()
    justify-content(center)
    width 50%
    margin 75px auto 125px auto
    
    li
      margin 0 5%
      text-transform uppercase
      font-size 13px
      letter-spacing 1.5px
        
      @media $tablet
        margin 0 3%
      
      
      a
        text-decoration none
        color $silver
        transition all 0.5s ease
        
        &:active
          cursor pointer
        
        &:hover
          transform scale(1.1)
          color $white


.arrow-back
  display inline-block
  position absolute
  margin-left 33px  
  padding 16px 27px 27px 27px
  min-width 28px
  min-height 16px
  background url('../images/arrow-head-right.svg')
  background-repeat no-repeat
  // background-size contain
  background-position center
  rotator()
  
.balancer
    display inline-block
    // margin-left 50px
    min-width 28px
    min-height 16px