header
  background-block()
  
.anybeast-logo
  width 57px
  height 50px
  margin 40px auto
    
  & > a
    display block
    width 57px
    height 50px
    padding 20px
    background-image url(../images/anybeast_icon@2x.png)
    background-repeat no-repeat
    background-position center
    background-size contain
    cursor pointer