.modal
  center-block()
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  opacity 0

  & > .contents
    background-color $white
    width 75%
    height 100%
    position relative
    margin 0 auto
    padding 70px 60px

.active
  opacity 1 !important
  z-index 999

.close
  width 100%
  padding 5px 0

.box1
  & > .contents
    background-color $gold

    h2
      padding 0 20px 0 20px
      margin-bottom 15px

    ul
      margin-bottom 0

      li
        margin-bottom 15px

    h3
      margin-bottom $baseline*1

    p
      margin-bottom $baseline*1.5
      line-height 1.5rem
      font-size .8125rem !important

    & > .close
      border-bottom 1px solid $black

    a.dark
      border-bottom 1px solid $black !important

    .vert-divider
      margin-bottom 15px

.box2
  & > .contents
    background-color $light-grey

    & > div
      h2
        margin 10px 20px 22px 20px !important
        padding-bottom 1px
        border-bottom 1px solid $white
        display inline-block

      li
        margin-bottom 20px

      h3
        margin-bottom $baseline*1

      p
        margin-bottom $baseline*1.5
        line-height 1.5rem
        opacity .6

      a.white
        border-bottom 1px solid $white !important

.box3
  & > .contents
    background-color $white

    h2
      margin 0 20px

    li
      margin-bottom 20px

    h3
      margin-bottom $baseline*1

    p
      margin-bottom $baseline*1.5
      line-height 1.5rem
      opacity .7

    a.dark
      border-bottom 1px solid $black !important

		.arrow-tail
			background url("../images/icn_arrow-tail-dark@2x.png") no-repeat center
			background-size contain
			height 30px
			width 15px
			margin $baseline*3 auto

		.arrow-head
			background url("../images/icn_arrow-head-dark@2x.png") no-repeat center
			background-size contain
			height 25px
			width 11px
			margin $baseline*3 auto
