$white = #ffffff
$black = #191717

$dark-grey = #242121
$light-grey = #393839
$faint-grey = #616161

$gold = #bc956a
$silver = #828486
$blue = #91c4c7
$dark-blue = #406366

.white
  color $white

.gold
  color $gold

.silver
  color $silver

.dark-blue
  color: $dark-blue

.dark
  color $black

.ghost
  color $faint-grey
  
