@font-face
  font-family 'PxGrotesk-Regular'
  src url('../fonts/PxGrotesk-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/PxGrotesk-Regular.woff') format('woff'), url('../fonts/PxGrotesk-Regular.ttf')  format('truetype'), url('../fonts/PxGrotesk-Regular.svg#PxGrotesk-Regular') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Rasmus-Regular'
  src url('../fonts/Rasmus-Regular-webfont.eot')
  src url('../fonts/Rasmus-Regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rasmus-Regular-webfont.woff2') format('woff2'),
      url('../fonts/Rasmus-Regular-webfont.woff') format('woff'),
      url('../fonts/Rasmus-Regular-webfont.ttf') format('truetype'),
      url('../fonts/Rasmus-Regular-webfont.svg#rasmusregular') format('svg')
  font-weight normal
  font-style normal
