$font-family1 = "Px Grotesk", "San Francisco", system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande"

$type-light = 300
$type-regular = 400
$type-medium = 500
$type-bold = 700

.caps
  font-family $font-family2
  font-weight $type-light
  font-size 0.8125rem
  letter-spacing .1rem
  text-transform uppercase
  line-height 1.2rem
  color $silver

.white
  color $white

.gold
  color $gold

.silver
  color $silver

.dark-blue
  color: $dark-blue

.dark
  color $black

.ghost
  color $faint-grey