section#neo-about
  .content-block
    
    .statement
      h2 To communicate Neo’s unique and ruthless process, we built their new online home that laid bare the keys for their client’s success.
      span.borderline
