aside#capabilities.modal.box1
  .contents
    div
      h2.caps.dark Our job is to make you look good from all angles
      div.vert-divider
        svg(height='25px' width='2px')
          line(x1="0" y1="0" x2="0" y2="25" style="stroke:rgb(0,0,0);stroke-width:2")
      ul
        li 
          h3.caps.white Design SWAT Team
          p.caps.dark Think of us as a crack team extension to your team that can tackle any problem you throw our way.
        li 
          h3.caps.white Relay Runners
          p.caps.dark We make your job easier by providing thorough and detailed final deliverables. We can guarantee that when we finish our work together, you’ll have everything you need to keep the momentum going.
      div.vert-divider
        svg(height='25px' width='2px')
          line(x1="0" y1="0" x2="0" y2="25" style="stroke:rgb(0,0,0);stroke-width:2")
      a.close.caps.dark close
