aside#capabilities.modal.box1
  .contents
    div
      h2.caps.dark Our job is to make you look good from all angles
      div.vert-divider
        svg(height='25px' width='2px')
          line(x1="0" y1="0" x2="0" y2="25" style="stroke:rgb(0,0,0);stroke-width:2")
      ul
        li 
          h3.caps.white Design SWAT Team
          p.caps.dark Think of us as a crack team extension to your team that can tackle any problem you throw our way.
        li 
          h3.caps.white Deep End Swimmers
          p.caps.dark We’re swift navigators of process and understand how to weave in and out of team dynamics. Throw us in the deep end. We can swim.
      div.vert-divider
        svg(height='25px' width='2px')
          line(x1="0" y1="0" x2="0" y2="25" style="stroke:rgb(0,0,0);stroke-width:2")
      a.close.caps.dark close
