aside#outsiders.modal.box3
  .contents
    div
      h2.caps.dark We like to use “outsider” to our advantage
      .arrow-tail
      ul
        li 
          h3.caps.dark Intentional middlemen
          p.caps.dark We consider being outsiders a strength. It allows us to be both customer and business advocates – acting as conduits between the two.
        li 
          h3.caps.dark Future Focused Pragmatists
          p.caps.dark We pay particular attention to untapped possibilities and opportunities for success in areas beyond the project space
      .arrow-head
      a.close.caps.dark close
