aside#team-modal.modal-box
  .contents
    div
      h2.caps.white Product Design
      p.caps.dark Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      p.caps.dark Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla.
      
      a.close(href="#close") X
