aside#trifecta.modal.box2
  .contents
    div
      h2.caps.white The Special Sauce
      ul
        li
          h3.caps.white UX & Visual Design
          p.caps.white User experience and visual design enhance customer satisfaction and loyalty by improving the usability, ease, and pleasure provided in the interaction between the customer and the product.
        li 
          h3.caps.white Content Strategy
          p.caps.white Content strategy provides high-level vision that guides future content development to deliver alongside specific business and brand objectives.
      
      a.close.caps.white close
