#home-about
  
  .frame
    position relative
    height 100px
    max-width 80%
    min-height 630px
    margin 0 auto 75px auto

    .border
    	display block
  		border-image url(../images/frame.border-image.png) 54 52 52 53 round round
  		border-style inset
  		border-color $gold
  		border-width 30px
  		height 100%
  		width 100%

    
    .main-gallery

      .gallery-cell
        flexbox()
        justify-content(center)
        align-items(center)
        width 100%
        text-align center

        @media $desktop
          min-height 630px

        h2
          font-size 14px
          color $gold
          letter-spacing 1px
          text-transform uppercase
          display block

        h1
          font-size 55px
          line-height 1.2em
          color $white
          max-width 90%
          display block
          margin 45px auto

      // .no-1
        

          