#home-clients
  flexbox()
  align-items(center)
  height 100vh
  
  & > div
    col(10,1)
    
    @media $tablet
      col(8,1)

    @media $desktop
      col(7,2)

    h2
      text-align left
      text-transform uppercase
      color $gold
      font-size 14px
      margin-bottom 25px
      letter-spacing 1px
      
    ul
      
      @media $tablet
        flexbox()
        flex-wrap wrap
        justify-content flex-start
        align-items flex-start
        flex-direction column
        height 250px
      
      @media $desktop
        height 400px
      
        
      li
        text-align left
        margin-bottom 25px
        font-size 34px
        margin-right 40px
                
        @media $tablet
          font-size 34px
          margin-right 40px
          
        @media $desktop
          font-size 48px
          line-height 61px
          
        a
          color $white
          text-decoration none
          border-bottom 1px solid $gold
          line-height 10px
      