#home-services
  background-block()
  
  & > .content-block
    content-block(flex-start, flex-start, center)
    height 100vh
    
    div 
      col(12)
      
      @media $desktop
        col(10,1)
      
      h2
        text-align center
        text-transform uppercase
        color $gold
        font-size 14px
        margin-bottom 25px
        letter-spacing 1px
        
        @media $desktop
          text-align left
      
      ul
        flexbox()
        flex-direction column
        flex-wrap wrap
        max-height 600px
        max-width 800px
        
        @media $desktop
          max-height 300px  
              
        li
          font-size 34px
          margin 15px 0
          text-align center
          white-space nowrap
          display block
            
          @media $desktop
            text-align left
            width 380px
            font-size 40px
            
            
          a
            color $white
            text-decoration none
            border-bottom 1px solid $gold
            line-height 10px
        