#home-services
  background-block()
  
  & > .content-block
    content-block(flex-start, flex-start, center)
    height 100vh
    
    .frame 
      col(12)
      position relative
      height 1px
      max-width 100%
      min-height 800px
      margin 0 auto 75px auto
      
      @media $tablet
        min-height 720px

      .border
        display block
        border-image url(../images/frame.border-image.png) 54 52 52 53 round round
        border-style inset
        border-color $gold
        border-width 30px
        height 100%
        width 100%
        
        & > div
          content-block(space-between)
          
          h2
            flex 0 0 100%
            text-align center
            text-transform uppercase
            color $gold
            font-size 14px
            margin-bottom 25px
            letter-spacing 1px

            
            @media $desktop
              text-align left
          
          ul
            // col(4)
            // margin-left -10px
            // margin-top -10px
            // padding 0 30px 0 0 !important
                  
            li
              font-size 34px
              text-align center
              white-space nowrap
              display block
              border 1px solid blue
              
              @media $desktop
                font-size 40px
                text-align left
                flex 1 0 calc(50% - 10px)
                box-sizing border-box
                padding 10px 0
                margin-top 10px
                
              a
                color $white
                text-decoration none
                border-bottom 1px solid $gold
                line-height 10px
            