#home-welcome
  background-block()
  background $light-black
  
  .clouds
    min-height 55vh
    background url('../images/clouds@2x.png')
    background-repeat no-repeat
    background-size cover
    background-position center
    flexbox()
    align-items(center)
    justify-content(center)
    margin-bottom 50px
    position relative

    @media $tablet
      min-height 65vh
      background-size cover

    @media $desktop
      min-height 75vh
      background-size contain
      
    .statement-contain
      col(10,1)
      
      @media $tablet
        col(9)
      @media $desktop
        col(5)
        margin-right 150px

 
      & > p
        color $gold
        font-size 13px
        text-align center
        margin-top 25px
      
      h1
        font-size 42px
        line-height 1.15em
        text-align center
        transition all 0.5s ease
        
        @media $tablet
          font-size 68px

        @media $desktop
          font-size 78px

    .arrow-down
      col(12)
      margin-bottom 40px

      & > a
        display block
        min-width 66px
        min-height 40px
        background url('../images/arrow-head-down.svg')
        background-repeat no-repeat
        background-size contain
        background-position center
        