#home-work
  background-block()
  background $light-black
  
  & > .content-block
    padding 135px 0 120px 0
    position relative
    background #171616
    overflow hidden
    
    &:before
      content ''
      display block
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      width 100%
      height 100%
      background-image url(../images/photo.jpg)
      background-size cover
      opacity 0.06
      z-index 1
      // -webkit-filter blur(3px)
      // filter blur(3px)            

    & > div
      col(10,1)
      
      @media $tablet
        col(8,1)
      
      @media $tablet
        col(7,1)
      
      h2
        font-size 48px
        line-height 1.25em
        margin-bottom 50px
        z-index 2
        position relative
        transition all 0.5s ease
        
        @media $tablet
          font-size 48px
        
        @media $desktop
          font-size 56px

    h3
      color $gold
      text-transform uppercase
      font-size 15px
      margin-bottom 50px
      z-index 2
            
      @media $tablet
        font-size 15px

    .arrow-right
      flexbox()
      justify-content(flex-start)

      & > a
        display block
        min-width 28px
        min-height 16px
        background url('../images/arrow-head-right.svg')
        background-repeat no-repeat
        background-size contain
        background-position center

        
.redacted
  background-image url(../images/redact.png)
  background-position center
  background-repeat repeat-x
  // white-space nowrap
  color $gold
  line-height 2.25rem
  margin 0
  padding 0
    
  ::selection
    color $white
    background $black
    
  &:hover
    cursor pointer
    color $white
        
.blur
  -webkit-filter blur(1px)
  filter blur(1px)            

  
